h1, p, body {
  margin: 0; /* 上下左右余白を0に設定 */
}

p, a {
  font-size: 20px; /* 全てのp要素とa要素のフォントサイズを20pxに設定 */
}

header{
  margin-bottom: 20px; /* 下の余白を20pxにします。*/
  background-color: rgb(244, 79, 79); /* 背景色 */
  text-align: center; /* 中央揃え */
}

h1{
  color: rgb(255, 255, 255); /*文字色変更*/
}

main {
  padding: 10px; /* 上下左右の余白を10px */

}

#parent {/*親コンテナ */
  display: flex; /* Flexboxコンテナにする */
  justify-content: space-between; /* 子要素を均等な間隔で配置 */
}

/*レスポンシブ対応 */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px; /* h2のフォントサイズは30px */
  }

  p {
    font-size: 25px; /*pのフォントサイズは25px pのフォントサイズを25pxに設定 */
  }

  #parent {
    display: flex;
    flex-direction: column; /* 子要素が縦 */
  }
}

.contents{ /* コンテナ要素 */
  flex-basis: 25%; /* 幅は親要素の25% */
  margin: 20px 0; /* 要素外の余白は上下20px、左右0 */
  text-align: center; /* 中の要素が中央揃え */
  padding: 10px 15px; /* 要素内の余白は上下10px、左右15px */
  border: 3px solid rgb(238, 204, 204); /* 線（太さ3px、実線、色rgb(238, 204, 204)）で要素を囲む */
}/*コンテナ要素はここではまだはみ出てる*/

.contents img { /*コンテナ要素がここで小さくなる*/
  margin: 10px 0; 
  width: 70%; /* 幅は70% */
}

.contents h2 {
  font-size: 25px; /* フォントサイズを25px */
  border-bottom: 3px dotted rgb(236, 122, 122); /* 下線（太さ3px、点線、色rgb(236, 122, 122) */
  position: relative; /* 相対位置指定 */
}

h2::before {
  content: "●"; /* h2要素の前に「●」記号 */
  color: rgb(239, 111, 139); /* 文字色 */
}

/*「傘」の文字色変更*/
.contents p:nth-of-type(2)::first-letter { 
  font-weight: bold; /* 太字 */
  color: rgb(97, 206, 249); /* 文字色 */
}

/*フッター構成の作成*/
footer{
 text-align: center; /* 中央揃え */
  background-color: rgb(244, 79, 79);　/* 背景色はrgb(244, 79, 79) */
}

a{
  color: rgb(255, 255, 255); /* 文字色はrgb(255, 255, 255) */
}

a:visited {
  color: rgb(193, 234, 251);/* 訪問済みリンクの文字色がrgb(193, 234, 251) */
}

footer a:hover {
  color: rgb(245, 178, 168);   /* マウスカーソルが乗ると文字色がrgb(245, 178, 168)
}

